body{
    background-color: white;
}

.main-menu {
    display: flex;
    list-style: none;
    gap: 16px;
     
    justify-content: space-between;
    align-items: center;

    margin-top: 30px;

    border: 2px dotted black;
    border-style: inset;
    
}

