body {
    background-color: rgb(245, 245, 245);
}

h2 {
    font-size: 30px;
    margin: 5px;
}

footer.footer {
    clear: left;
}

.img-pantufla {
    float: left;
    width: 400px;
    height: 300px;
    float: left;
}

h2{
    font-family: 'Courier New', Courier, monospace;
}

p {
    font-style: oblique;
}

h3{
    font-family: 'Courier New', Courier, monospace;
}
img {
    float: right;
}
